.container{
    height: 300px;
    display: flex;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
input[type="range"]{
    cursor: pointer;
    accent-color: rgb(175, 94, 108);
    height: 60px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.bar{
    width: 20px;
    background-color: palevioletred;
   border: 1px solid white;
}
div button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(221, 168, 207);
    margin-left: 30px;
}
#slider{
    margin-top: 80px;
    display: flex;
    align-items: center;
}
